.portrait {
	width: 100%;
}

.about {
  display: flex;
  flex-direction: column;
}

.row {
   
}

html {
    font-family: "Lucida Sans", sans-serif;
}

/* For desktop: */
.leftcol {
  display: flex;
  flex-direction: column;
  float: left;
  margin-top:1em;
	width: 30%;
}

.leftcol ul {
  list-style-type: none;
  background-color: white;
  padding-left: 0em;
}

.leftcol li  {
    cursor: pointer;
    margin-bottom: 7px;
    background-color: black;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.leftcol a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1em;
  margin-top: 1em;
}

.leftcol h3 {
  font-weight: 500;
  font-size: 1.2em;
  color: black;
}

.rightcol {
  display: flex;
  flex-direction: column;
  background-color: black;
  float: left;
  padding: 15px;
  margin-top:1em;
  width: 30%;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.rightcol a {
  color: white;
  text-decoration: none;
  margin-top: 1.0em;
}

.rightcol h3 {
  font-weight: 500;
  font-size: 1.2em;
  color: white;
}

.middlecol {
  float: left;
  padding: 15px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.middlecol a {
  font-size: 12;
  margin: 0.2em;
  text-decoration: none;
}

.middlecol h1 {
  font-weight: 400;
  color: black;
}

.middlecol h3 {
  font-weight: 700;
  color: black;
}

.middlecol h3 {
  margin-top: 1.5em;
  font-weight: 400;
}


.middlecol h4 {
  font-weight: 100;
  color: black;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="rightcol"] {
        width: 100%;
    }

    [class*="middlecol"]{
        width: 100%;
    }

    [class*="leftcol"] {
        width: 100%;
    }
}
