.summary {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.Title {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 3em;
	font-size: 4.5vw;
	color: black;
	font-family: 'Lora', serif;
	text-decoration: 'none';
	margin-top: 0.1em;
	align-text: center;
	text-rendering: optimizeLegibility;
}

.about-me-parent {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 13em;
	background-color: Snow;
	width: 80%;
	height: 40%;
	font-size: 2.2vw;
	font-family: 'Lora', serif;
	text-rendering: optimizeLegibility;
	text-decoration: 'none';
	margin-top: 0;
	opacity: 0.6;
}

.about-me-child {
	margin-left: 2em;
	font-size: 1.7vw;
	color: blue;
	margin-top: 1em;
	cursor: pointer;
	text-decoration: none;
}

.dashboard {
	display: flex;
	justify-content: center; 
	flex-direction: column;	
}

.box {
	background-color: black;
	color: black;
	width: 3000;
	height: 3000;
	position: absolute;
}

#background-video{
	margin-top: -2em;
	height: 100%;
	width: 100%;
	padding: none;
	display: flex;
	background: transparent;
}