
.summary {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

.Title {
	align-items: center;
	position: absolute;
	top: 1em;
	font-size: 4.5vw;
	color: black;
	font-weight: 700; 
	font-family: 'Courier New';
	text-decoration: 'none';
	margin-top: 3em;
	align-text: center;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}


.About-Me {
	align-items: center;
	position: absolute;
	align-text: center;
	top: 10em;
	color: black;
	width: 30em;
	font-size: 2.9vw;
	font-weight: 700; 
	font-family: 'Courier New';
	text-decoration: 'none';
	margin-top: 5;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.dashboard {
	display: flex;
	justify-content: center; 
	flex-direction: column;	
}

.box {

	background-color: black;
	color: black;
	width: 3000;
	height: 3000;
	position: absolute;
}

#background-video{
	margin-top: -2em;
	height: 100%;
	width: 100%;
	padding: none;
	display: flex;
	background: transparent;
}