#Title {
	font-size: 6em;
	color: white;
	font-weight: 700; 
	font-family: 'Courier New';
	text-decoration: 'none';
	margin-top: 5;
	align-text: center;
}

#About-Me {
	color: white;
	font-size: 3em;
	font-weight: 700; 
	font-family: 'Courier New';
	text-decoration: 'none';
	margin-top: 5;
}
